/* ========================= */
/* ABC DIATYPE VARIABLE      */
/* ========================= */

@font-face {
  font-family: "ABC Diatype";
  src: url("ABC Diatype/ABC Diatype Variable/ABCDiatypeVariable-Trial.woff2") format("woff2"),
       url("ABC Diatype/ABC Diatype Variable/ABCDiatypeVariable-Trial.woff")  format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
